body {
    font: 20px Arial, sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background-color:darkgrey;
}

.quem-somos {
    background-color: beige;
}

.margin {
padding-top: 70px;
padding-bottom: 70px;
}

.parceiros {
    background-color: sandybrown;
}

.servicos {
     background-color:yellowgreen ;
}

.bg-footer {
    background-color: silver;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}