body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color:darkgrey;
}

.quem-somos {
background-color: beige;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parte2 {
 
}